<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> User: {{ user.firstName }} </mat-panel-title>
      <mat-panel-description>
        Last edited:
        <span class="user__edited-time">{{
          user.lastEdited | date: "short"
        }}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p><b>FirstName:</b> {{ user.firstName }}</p>
    <p><b>LastName:</b> {{ user.lastName }}</p>

    <button mat-raised-button color="accent" (click)="onEditUser()">
      Edit
    </button>

    <button mat-raised-button color="warn" (click)="onDeleteUser()">
      Delete
    </button>
  </mat-expansion-panel>
</mat-accordion>
<br />
