<mat-expansion-panel style="margin-bottom: 16px;">
  <mat-expansion-panel-header>
    <mat-panel-title> Action item: {{ task.action }} </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-list>
    <mat-list-item>Priority: {{ task.priority }}</mat-list-item>
    <mat-list-item>Estimate Hours: {{ task.estHours }}</mat-list-item>
    <mat-list-item>Actual Hours: {{ task.actHours }}</mat-list-item>
    <mat-list-item>Done: {{ task.done }}</mat-list-item>
  </mat-list>

  <button
    mat-raised-button
    color="primary"
    (click)="onCompleteTask()"
    [disabled]="task.done"
  >
    Done
  </button>
  <button mat-raised-button color="warn" (click)="onEditTask()">Edit</button>
  <!-- <button
    class="btn btn-primary btn-sm"
    (click)="onCompleteTask()"
    [disabled]="task.done"
  >
    Done
  </button> -->
  <!-- <button class="btn btn-warning btn-sm" (click)="onEditTask()">Edit</button> -->
</mat-expansion-panel>
